body{
  margin: 0;
  padding: o;
  box-sizing: border-box;
  background-color: blanchedalmond;
}

.heading{
  margin-left: 500px;
}

.contact{
  margin-left: 80px;
  
}
.submit{
  float :right;
  margin-right: 10px;
}



.bav{
  list-style-type: none;
  display: flex;
  margin-left: 570px;
}

.ome{
  padding-right: 20px;
}

.bout{
  padding-right: 20px;
}

.service{
  border: palevioletred 2px solid;
  width: 100px;
}

.find{
  border: palevioletred 2px solid;
  width: 230px;
  margin-left: 70px;
}

.pat{
  border: palevioletred 2px solid;
  width: 230px;
  margin-left: 70px;

}

.back{

  border: palevioletred 2px solid;
  width: 230px;
  margin-left: 70px;

}
.your{
  
  width: 230px;
  margin-left: 70px;

}

.thank{
  width: 430px;
  margin-left: 70px;


}

.new{
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}

.covid{
  margin-left: 40px;
}